# Cognito
COGNITO_USER_POOL_ID=us-east-1_s0QCWUGyo
COGNITO_CLIENT_ID=7n6p46llv71sg74fefggeig90v
COGNITO_REGION=us-east-1

# DynamoDB
DYNAMODB_USERS_TABLE=mini-jira-users
DYNAMODB_TEAMS_TABLE=mini-jira-teams
DYNAMODB_PROJECTS_TABLE=mini-jira-projects
DYNAMODB_TASKS_TABLE=mini-jira-tasks
DYNAMODB_COMMENTS_TABLE=mini-jira-comments

# S3
S3_ORIGINALS_BUCKET=mini-jira-originals-lusgad
S3_RESIZED_BUCKET=mini-jira-resized-lusgad

# SNS
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:677896131350:mini-jira-task-assignments

# SQS
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/677896131350/mini-jira-assignments-queue

# CloudFront
CLOUDFRONT_URL=https://d2vr2y126cbfkf.cloudfront.net

# ALB
ALB_DNS=mini-jira-alb-703359661.us-east-1.elb.amazonaws.com

# App
PORT=3000
AWS_REGION=us-east-1